.aboutHome {
    height: auto;
}

.aboutHome #heading {
    text-align: left;
    padding: 0;
}

.left-row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutHome.left-row {
    padding: 80px 50px;
}

.aboutHome .right-row {
    padding: 80px 50px;
}

.aboutHome .item {
    margin-top: 50px;
}

.item {
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    transition: 0.5s;
}

.aboutHome .img {
    width: 158px;
}

.aboutHome .img img {
    width: 70px;
    height: 70px;
}

.aboutHome .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.aboutHome .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
}

.aboutwrapper {
    background-image: url(/src/components/common/back/images/aboutwrapper.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: #fff;
}

.aboutwrapper .box {
    padding: 70px 0;
}

.aboutwrapper img {
    margin-right: 30px;
}

.aboutwrapper h1 {
    font-size: 50px;
}

.aboutwrapper h3 {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width:768px) {


    .aboutHome {
        margin-top: 95%;
    }

    .aboutHome .container {
        flex-direction: column-reverse;
    }

    .aboutHome .left-row .right-row {
        width: 100%;
    }

    .aboutwrapper {
        height: 50vh;
    }

}